In [1]:
import warnings
warnings.filterwarnings("ignore")

import datetime
import inspect
import io 
import json
import numpy as np
import pandas as pd
import requests 
from scipy.optimize import curve_fit

In [2]:
urlData = requests.get('https://corona.lmao.ninja/v2/historical/argentina').content

In [3]:
data = urlData.decode('utf-8')
data

'{"country":"Argentina","provinces":["mainland"],"timeline":{"cases":{"3/28/20":690,"3/29/20":745,"3/30/20":820,"3/31/20":1054,"4/1/20":1054,"4/2/20":1133,"4/3/20":1265,"4/4/20":1451,"4/5/20":1451,"4/6/20":1554,"4/7/20":1628,"4/8/20":1715,"4/9/20":1795,"4/10/20":1975,"4/11/20":1975,"4/12/20":2142,"4/13/20":2208,"4/14/20":2277,"4/15/20":2443,"4/16/20":2571,"4/17/20":2669,"4/18/20":2758,"4/19/20":2839,"4/20/20":2941,"4/21/20":3031,"4/22/20":3144,"4/23/20":3435,"4/24/20":3607,"4/25/20":3780,"4/26/20":3892},"deaths":{"3/28/20":18,"3/29/20":19,"3/30/20":23,"3/31/20":27,"4/1/20":28,"4/2/20":36,"4/3/20":39,"4/4/20":43,"4/5/20":44,"4/6/20":48,"4/7/20":56,"4/8/20":63,"4/9/20":72,"4/10/20":82,"4/11/20":83,"4/12/20":90,"4/13/20":97,"4/14/20":102,"4/15/20":111,"4/16/20":115,"4/17/20":123,"4/18/20":129,"4/19/20":132,"4/20/20":136,"4/21/20":147,"4/22/20":152,"4/23/20":165,"4/24/20":176,"4/25/20":185,"4/26/20":192},"recovered":{"3/28/20":72,"3/29/20":72,"3/30/20":228,"3/31/20":240,"4/1/20":248,"4/2/20":256,"4/3/20":266,"4/4/20":279,"4/5/20":280,"4/6/20":325,"4/7/20":338,"4/8/20":358,"4/9/20":365,"4/10/20":375,"4/11/20":440,"4/12/20":468,"4/13/20":515,"4/14/20":559,"4/15/20":596,"4/16/20":631,"4/17/20":666,"4/18/20":685,"4/19/20":709,"4/20/20":737,"4/21/20":840,"4/22/20":872,"4/23/20":919,"4/24/20":976,"4/25/20":1030,"4/26/20":1107}}}'

In [4]:
data_load = json.loads(data)
data_load

{'country': 'Argentina',
 'provinces': ['mainland'],
 'timeline': {'cases': {'3/28/20': 690,
   '3/29/20': 745,
   '3/30/20': 820,
   '3/31/20': 1054,
   '4/1/20': 1054,
   '4/2/20': 1133,
   '4/3/20': 1265,
   '4/4/20': 1451,
   '4/5/20': 1451,
   '4/6/20': 1554,
   '4/7/20': 1628,
   '4/8/20': 1715,
   '4/9/20': 1795,
   '4/10/20': 1975,
   '4/11/20': 1975,
   '4/12/20': 2142,
   '4/13/20': 2208,
   '4/14/20': 2277,
   '4/15/20': 2443,
   '4/16/20': 2571,
   '4/17/20': 2669,
   '4/18/20': 2758,
   '4/19/20': 2839,
   '4/20/20': 2941,
   '4/21/20': 3031,
   '4/22/20': 3144,
   '4/23/20': 3435,
   '4/24/20': 3607,
   '4/25/20': 3780,
   '4/26/20': 3892},
  'deaths': {'3/28/20': 18,
   '3/29/20': 19,
   '3/30/20': 23,
   '3/31/20': 27,
   '4/1/20': 28,
   '4/2/20': 36,
   '4/3/20': 39,
   '4/4/20': 43,
   '4/5/20': 44,
   '4/6/20': 48,
   '4/7/20': 56,
   '4/8/20': 63,
   '4/9/20': 72,
   '4/10/20': 82,
   '4/11/20': 83,
   '4/12/20': 90,
   '4/13/20': 97,
   '4/14/20': 102,
   '4/15/20': 111,
   '4/16/20': 115,
   '4/17/20': 123,
   '4/18/20': 129,
   '4/19/20': 132,
   '4/20/20': 136,
   '4/21/20': 147,
   '4/22/20': 152,
   '4/23/20': 165,
   '4/24/20': 176,
   '4/25/20': 185,
   '4/26/20': 192},
  'recovered': {'3/28/20': 72,
   '3/29/20': 72,
   '3/30/20': 228,
   '3/31/20': 240,
   '4/1/20': 248,
   '4/2/20': 256,
   '4/3/20': 266,
   '4/4/20': 279,
   '4/5/20': 280,
   '4/6/20': 325,
   '4/7/20': 338,
   '4/8/20': 358,
   '4/9/20': 365,
   '4/10/20': 375,
   '4/11/20': 440,
   '4/12/20': 468,
   '4/13/20': 515,
   '4/14/20': 559,
   '4/15/20': 596,
   '4/16/20': 631,
   '4/17/20': 666,
   '4/18/20': 685,
   '4/19/20': 709,
   '4/20/20': 737,
   '4/21/20': 840,
   '4/22/20': 872,
   '4/23/20': 919,
   '4/24/20': 976,
   '4/25/20': 1030,
   '4/26/20': 1107}}}

In [5]:
df_timeline = pd.json_normalize(data_load['timeline']['cases']).T
df_deaths = pd.json_normalize(data_load['timeline']['deaths']).T
df_recovered = pd.json_normalize(data_load['timeline']['recovered']).T

In [6]:
df_timeline.columns = ['confirmed']
df_deaths.columns = ['deaths']
df_recovered.columns = ['recovered']

In [7]:
data_argentina = pd.concat([df_timeline, df_deaths, df_recovered], axis=1, sort=False)
data_argentina

         confirmed  deaths  recovered
3/28/20        690      18         72
3/29/20        745      19         72
3/30/20        820      23        228
3/31/20       1054      27        240
4/1/20        1054      28        248
4/2/20        1133      36        256
4/3/20        1265      39        266
4/4/20        1451      43        279
4/5/20        1451      44        280
4/6/20        1554      48        325
4/7/20        1628      56        338
4/8/20        1715      63        358
4/9/20        1795      72        365
4/10/20       1975      82        375
4/11/20       1975      83        440
4/12/20       2142      90        468
4/13/20       2208      97        515
4/14/20       2277     102        559
4/15/20       2443     111        596
4/16/20       2571     115        631
4/17/20       2669     123        666
4/18/20       2758     129        685
4/19/20       2839     132        709
4/20/20       2941     136        737
4/21/20       3031     147        840
4/22/20       3144     152        872
4/23/20       3435     165        919
4/24/20       3607     176        976
4/25/20       3780     185       1030
4/26/20       3892     192       1107

In [8]:
data_argentina.index=pd.to_datetime(data_argentina.index.astype(str), format='%m/%d/%y')

In [9]:
data_argentina['num_id'] = np.arange(len(data_argentina) + 1)[1:]

In [10]:
data_argentina

            confirmed  deaths  recovered  num_id
2020-03-28        690      18         72       1
2020-03-29        745      19         72       2
2020-03-30        820      23        228       3
2020-03-31       1054      27        240       4
2020-04-01       1054      28        248       5
2020-04-02       1133      36        256       6
2020-04-03       1265      39        266       7
2020-04-04       1451      43        279       8
2020-04-05       1451      44        280       9
2020-04-06       1554      48        325      10
2020-04-07       1628      56        338      11
2020-04-08       1715      63        358      12
2020-04-09       1795      72        365      13
2020-04-10       1975      82        375      14
2020-04-11       1975      83        440      15
2020-04-12       2142      90        468      16
2020-04-13       2208      97        515      17
2020-04-14       2277     102        559      18
2020-04-15       2443     111        596      19
2020-04-16       2571     115        631      20
2020-04-17       2669     123        666      21
2020-04-18       2758     129        685      22
2020-04-19       2839     132        709      23
2020-04-20       2941     136        737      24
2020-04-21       3031     147        840      25
2020-04-22       3144     152        872      26
2020-04-23       3435     165        919      27
2020-04-24       3607     176        976      28
2020-04-25       3780     185       1030      29
2020-04-26       3892     192       1107      30

In [11]:
predicted_days = 7
firstPredictionDay = data_argentina.index[-1] + datetime.timedelta(days = 1)

In [12]:
class Models:    
    def cuadratic_model(x, a, b, c):
        return (a*x**2 + b*x +c)
    
    def cubic_model(x, a, b, c, d):
        return (a*x**3 + b*x**2 +c*x + d)
    
    def fourth_pow_model(x, a, b, c, d, e):
        return (a*x**4 + b*x**3 +c*x**2 + d*x + e)
    
    def fiveth_pow_model(x, a, b, c, d, e, f):
        return (a*x**5 + b*x**4 +c*x**3 + d*x**2 + e*x + f)
    
    def sixh_pow_model(x, a, b, c, d, e, f, g):
        return (a*x**6 + b*x**5 +c*x**4 + d*x**3 + e*x**2 + f*x + g)
    
    def exp_model(x, a, b):
        return a * np.exp(b * x)
    
    def complex_cuadratic_model(x, a, b, c, n2):
        return (a*(x - n2)**2 + b*x + c)
    
    def complex_cubic_model(x, a, b, c, d, n3, n2):
        return (a*(x - n3)**3 + b*(x - n2)**2 +c*x + d)

In [13]:
def formatPrediction(firstPredictionDay, day, prediction):
    formatedDate = str(firstPredictionDay + datetime.timedelta(days = day))[0:10]
    formatedPrediction = str(int(prediction))
    return "|" + formatedDate + " | " + formatedPrediction + "|"

def printPrediction(model, popt, x, y):
    firstPredictionDayId = x.max() + 1
    print("--- Predictions ---")
    for day in range (0, predicted_days):
        predictionId = firstPredictionDayId + day
        predictionValue = model(predictionId, *popt)
        print(formatPrediction(firstPredictionDay, day, predictionValue))
    print("-------------------")

In [14]:
def printFuncionParameters(model, popt):
        print('\n', model.__name__)
        args = inspect.getfullargspec(model).args[1:]
        for arg, value in zip(args, popt):
            print( arg, " = ", value)

In [15]:
def predictData(model, x, y):
    popt, _ = curve_fit(model, x, y)
    printPrediction(model, popt, x, y)
    printFuncionParameters(model, popt)
    print()

In [16]:
def isModel(methodName):
    return not(methodName.startswith('__'))

for methodName in dir(Models):
    if(isModel(methodName)):
        print(methodName)
        predictData(getattr(Models, methodName), data_argentina.num_id, data_argentina.confirmed)

complex_cuadratic_model
--- Predictions ---
|2020-04-27 | 3939|
|2020-04-28 | 4078|
|2020-04-29 | 4218|
|2020-04-30 | 4360|
|2020-05-01 | 4505|
|2020-05-02 | 4651|
|2020-05-03 | 4799|
-------------------

 complex_cuadratic_model
a  =  1.0195952457721522
b  =  46.47123729415819
c  =  481.12547463185547
n2  =  -13.49052077577091

complex_cubic_model
--- Predictions ---
|2020-04-27 | 4082|
|2020-04-28 | 4276|
|2020-04-29 | 4480|
|2020-04-30 | 4695|
|2020-05-01 | 4923|
|2020-05-02 | 5162|
|2020-05-03 | 5414|
-------------------

 complex_cubic_model
a  =  0.0872859961902701
b  =  -2.3012391746816223
c  =  210.34464868524037
d  =  1353.440516656785
n3  =  2.8181857883074364
n2  =  -18.9648049892223

cuadratic_model
--- Predictions ---
|2020-04-27 | 3939|
|2020-04-28 | 4078|
|2020-04-29 | 4218|
|2020-04-30 | 4360|
|2020-05-01 | 4505|
|2020-05-02 | 4651|
|2020-05-03 | 4799|
-------------------

 cuadratic_model
a  =  1.019595185126372
b  =  73.98098085189926
c  =  666.6857142871655

cubic_model
--- Predictions ---
|2020-04-27 | 4082|
|2020-04-28 | 4276|
|2020-04-29 | 4480|
|2020-04-30 | 4695|
|2020-05-01 | 4923|
|2020-05-02 | 5162|
|2020-05-03 | 5414|
-------------------

 cubic_model
a  =  0.0872860042751149
b  =  -3.0392040137678897
c  =  125.13930795882236
d  =  523.8159824860885

exp_model
--- Predictions ---
|2020-04-27 | 4195|
|2020-04-28 | 4407|
|2020-04-29 | 4629|
|2020-04-30 | 4862|
|2020-05-01 | 5106|
|2020-05-02 | 5363|
|2020-05-03 | 5633|
-------------------

 exp_model
a  =  915.5243923903264
b  =  0.04910918714011935

fiveth_pow_model
--- Predictions ---
|2020-04-27 | 4174|
|2020-04-28 | 4439|
|2020-04-29 | 4740|
|2020-04-30 | 5082|
|2020-05-01 | 5473|
|2020-05-02 | 5918|
|2020-05-03 | 6426|
-------------------

 fiveth_pow_model
a  =  0.00023370995238283053
b  =  -0.014592896085634188
c  =  0.37258435254640027
d  =  -4.648500632834876
e  =  122.08757644146752
f  =  543.6507819933271

fourth_pow_model
--- Predictions ---
|2020-04-27 | 4138|
|2020-04-28 | 4368|
|2020-04-29 | 4618|
|2020-04-30 | 4892|
|2020-05-01 | 5190|
|2020-05-02 | 5515|
|2020-05-03 | 5869|
-------------------

 fourth_pow_model
a  =  0.003519626550391508
b  =  -0.1309308419843327
c  =  1.358820765565212
d  =  93.65373442714142
e  =  579.7792514008917

sixh_pow_model
--- Predictions ---
|2020-04-27 | 4180|
|2020-04-28 | 4451|
|2020-04-29 | 4763|
|2020-04-30 | 5123|
|2020-05-01 | 5539|
|2020-05-02 | 6019|
|2020-05-03 | 6575|
-------------------

 sixh_pow_model
a  =  3.3870457715543984e-06
b  =  -8.12818467931096e-05
c  =  -0.0034143727030717308
d  =  0.18402413849190888
e  =  -3.1208571575698607
f  =  116.85093508420907
g  =  548.7909856571372