In [1]:
import pandas as pd

In [2]:
API_URL = 'https://api.covid19api.com/total/country/argentina/status/confirmed'

In [3]:
df = pd.read_json(API_URL)

In [4]:
df.head()

     Country CountryCode  Lat  Lon  Cases     Status                      Date
0  Argentina                0    0      0  confirmed 2020-01-22 00:00:00+00:00
1  Argentina                0    0      0  confirmed 2020-01-23 00:00:00+00:00
2  Argentina                0    0      0  confirmed 2020-01-24 00:00:00+00:00
3  Argentina                0    0      0  confirmed 2020-01-25 00:00:00+00:00
4  Argentina                0    0      0  confirmed 2020-01-26 00:00:00+00:00

In [5]:
df.dtypes

Country                     object
CountryCode                 object
Lat                          int64
Lon                          int64
Cases                        int64
Status                      object
Date           datetime64[ns, UTC]
dtype: object

In [6]:
del df["Country"]
del df["CountryCode"]
del df["Lat"]
del df["Lon"]
del df["Status"]

In [7]:
df['Date'] = df['Date'].dt.tz_convert(None)

In [8]:
df.head()

   Cases       Date
0      0 2020-01-22
1      0 2020-01-23
2      0 2020-01-24
3      0 2020-01-25
4      0 2020-01-26

In [9]:
df.set_index("Date")

            Cases
Date
2020-01-22      0
2020-01-23      0
2020-01-24      0
2020-01-25      0
2020-01-26      0
...           ...
2020-03-31   1054
2020-04-01   1054
2020-04-02   1133
2020-04-03   1265
2020-04-04   1451

[74 rows x 1 columns]